{% extends "main.html" %}

{% block content %}
    {{super()}}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Users</h2>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Nickname</th>
						<th>Last login date</th>
						<th>Last login IP</th>
						<th>Login count</th>
						<th>Activation</th>
						<th>Admin status</th>
					</tr>
				</thead>
				<tbody>
				{% for u in users %}
					<tr>
						<td>{{u.nickname}} </td>
						<td>{{u.last_login_at}}</td>
						<td>{{u.last_login_ip}}</td>
						<td>{{u.login_count}}</td>
						<td>
						{% if u.is_active %}
								<a href="/user/{{u.id}}/deactivate" class="btn btn-danger">
									Deactivate
								</a>
							{% else %}
								<a href="/user/{{u.id}}/activate" class="btn btn-success">
									Activate
								</a>
							{% endif %}
						</td>
						<td>
							{% if "admin" in u.roles %}
								<a href="/user/{{u.id}}/admin" class="btn btn-danger">
									Remove admin
								</a>
							{% else %}
								<a href="/user/{{u.id}}/admin" class="btn btn-success">
									Give admin
								</a>
							{% endif %}
						</td>

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock%}
