{% extends "main.html" %}

{% block content %}
	{{super()}}
	<div class="page-header">
		<h1>{{user.nickname}}</h1>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Generic information</h2>
		</div>
		<div class="panel-body">
			<table class="table">
				<tr>
					<td>Theme</td>
					<td>{{user.theme}}</td>
					<td>
						<a data-toggle="collapse" data-target="#changetheme" class="btn btn-primary">Change</a>
						<div class="collapse" id="changetheme">
							{{wtf.quick_form(chthemeform)}}
						</div>
					</td>
				</tr>
				<tr>
					<td>Nickname</td>
					<td>{{user.nickname}}</td>
					<td>
						<a data-toggle="collapse" data-target="#changenick" class="btn btn-primary">Change</a>
						<div class="collapse" id="changenick">
						{{wtf.quick_form(chnickform)}}
						</div>
					</td>
				</tr>
				<tr>
					<td>Complete name</td>
					<td>{{user.completename}}</td>
					<td>
						<a data-toggle="collapse" data-target="#changename" class="btn btn-primary">Change</a>
						<div class="collapse" id="changename">
							{{wtf.quick_form(chnameform)}}
						</div>
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td></td>
					<td>
						<a data-toggle="collapse" data-target="#changepassword" class="btn btn-primary">Change</a>
						<div class="collapse" id="changepassword">
							{{wtf.quick_form(chpassform)}}
						</div>
					</td>
				</tr>
				<tr>
					<td>Api key</td>
					<td>{{user.api_key}}</td>
					<td><a class="btn btn-primary" href="/user/{{user.id}}/renew_api_key">Change</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Families referent</h2>
		</div>
		<div class="panel-body">
			{% for f in user.families %}
				<a href="/family/{{f.id}}/" class="btn btn-{{familycolorbystatus(f)}}">{{f.name}}</a>
			{% endfor %}
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Samples</h2>
		</div>
		<div class="panel-body">
			{% for f in user.samples %}
				{{printsample(f)}}<br />
			{% endfor %}
		</div>
	</div>
{% endblock%}
