<ul class="nav nav-tabs nav-justified">
	<li role="presentation"> <a href='#'>Index</a></li>
	<li role="presentation"> <a href='#'>Abstract</a></li>
	<li role="presentation"> <a href='#'>Ordered Samples</a></li>
	<li role="presentation"> <a href='#'>Samples abstract</a></li>
	<li role="presentation"> <a href='#'>Files</a></li>
<ul class="nav nav-tabs" >
	<li role="presentation"> <a href='#'>Index</a></li>
	<li role="presentation"> <a href='#'>Checklist</a></li>
	<li role="presentation"> <a href='#'>Yara</a></li>
	<li role="presentation"> <a href='#'>Classification</a></li>
	<li role="presentation"> <a href='#'>Polichombr Informations</a></li>
	<li role="presentation"> <a href='#'>Analyst Informations</a></li>
</ul>
