{% extends "main.html" %}

{% block content %}
{{ super() }}
<div class="modal fade" id="ModalFormFamily" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Choose family</h4>
			</div>
			<div class="modal-body">
				{{wtf.quick_form(form)}}
			</div>
		</div>
	</div>
</div>

	<div class="page-header">
			<h1>
				Families List
	<button type="button"
		class="btn btn-default"
		data-toggle="modal"
		data-target="#ModalFormFamily">
			Create
	</button></h1>
	</div>
	<div class="row" id="families_header">
		<div class="col-lg-4">
			<h2>
				Name
			</h2>
		</div>
		<div class="col-lg-2">
			<h2>
				Sensibility
			</h2>
		</div>
		<div class="col-lg-4">
			<h2>
				<p class="text-center">
				Users
				</p>
			</h2>
        </div>
		<div class="col-lg-1">
			<h2>
				<p class="text-center">
				Expand
				</p>
			</h2>
		</div>
	</div>
	<div class="container" id="families_container">
	</div>
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{url_for('.static', filename='js/families.js')}}"></script>
{% endblock %}
