{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% macro familycolorbystatus(family) %}{% if family.status == 3 %}primary{% elif family.status == 2 %}warning{% elif family.status == 1 %}success{% else %}default{%endif%}{% endmacro %}
{% macro printsample(sample) %}<a href="{{ url_for('webuiview.view_sample',sample_id=sample.id) }}"><span style='font-family:Menlo,Monaco,Consolas,"Courier New",monospace'>{{sample.md5}}</label></a>&nbsp;{% for f in sample.families %}<a class="label label-{{familycolorbystatus(f)}} btn-xs" href="{{url_for('webuiview.view_family',family_id=f.id)}}">{{f.name}}</a>{%endfor%}{% endmacro %}
{% block styles %}
{{super()}}

{% if current_user.theme %}
    {% if current_user.theme == "dark" %}
        <link rel="stylesheet" href="{{url_for('.static', filename='poli.css')}}"> 
    {% endif %}
{% endif %}

{% endblock %}

{% block title %} Welcome to Polichombr!{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="pull-left" href="#">
			<img src="{{url_for('.static', filename='polichombr.png')}}" class="img-rounded" alt="Poli" width="50" height="50">
		</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/">Home</a></li>

	{% if current_user.id %}
	      <li><a href="/search">Search</a></li>
	      <li><a href="/families">Families</a></li>
	      <li><a href="/signatures">Signatures</a></li>
	      <li><a href="/skelenox">Skelenox</a> </li>
	      <li><a href="/settings">Settings</a> </li>
	{% endif %}
	{% if "admin" in current_user.roles %}
	      <li><a href="/admin">Admin</a> </li>
	{% endif %}
	    </ul>

		<ul class="nav navbar-nav navbar-right">
			{% if current_user.id %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href='#'>{{current_user.nickname}}

					<ul class="dropdown-menu">
						<li><a href="{{ url_for('webuiview.logout') }}"> <span class="glyphicon glyphicon-log-out"></span>  Logout</a> </li>
						<li><a href="/user/{{current_user.id}}"><span class="glyphicon glyphicon-log-in"></span> View Profile</a></li>
					</ul>
				</li>
                {#
				{% if current_user.poke_id != None %}
					<li>
						<img src={{url_for('.static', filename='poke/'+ "%.03d"|format(current_user.poke_id) +'.gif')}} class="img-rounded" alt="POKE" width="50" height="50">
						</img>
					</li>
				{% endif %}
                #}
			{% else %}
				<li><a href="/register/"><span class="glyphicon glyphicon-record"></span> &nbsp Register</a></li>
				<li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> &nbsp Login</a></li>
			{% endif %}
		</ul>
	</div>
</nav>
{{ utils.flashed_messages(container=True,dismissible=True)}}
{% endblock %}
{% block content %}
<div class="container">
{% endblock %}
